#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

#menu {
    background-color: #333;
    color: white;
  }
  
  #boite {
    padding: 20px;
  }
  
  #boite :not(h1) {
    color: white;
  }
  
  #boite h1 {
    color: rgb(255, 0, 0);
  }

  
  #boite button {
    color: black;
  }